@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body sans-{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Playfair Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: -apple-system, BlinkMacSystemFont, 'Playfair Display', sans-serif;
}
